.main-portafolio-container {
  background-color: #26272b;
}

.main-portafolio-container--slider {
  width: auto;
  height: auto;
}
.portafolio-container--slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}


.portafolio-container--card {
  max-width: 250px;
  max-height: 250px;
  min-width: 150px;
  min-height: 150px;
  height: 20rem;
  width: 20rem;
  background-size: contain;
  border-radius: 5px;
  margin: 1.2%;
}

@media only screen and (max-width: 576px) {
  .portafolio-container--card {
    height: 15rem;
    width: 15rem;
  }
  .Focusing-picture {
    scale: 1.8;
    margin: 25%;
    animation-duration: 0.5s;
    animation-name: Focus;
  }
  
  
  .Unfocusing-picture {
    scale: 1;
    margin: 1.2%;
    animation-duration: 0.5s;
    animation-name: Unfocus;
  }
  
  @keyframes Unfocus {
    from {
      scale: 1.8;
      margin: 6%;
    }
  
    to {
      scale: 1;
      margin: 1.2%;
    }
  }
  
  
  @keyframes Focus {
    from {
      scale: 1;
      margin: 1.2%;
    }
  
    to {
      scale: 1.8;
      margin: 25%;
    }
  }


}

@media only screen and (min-width: 576px) {
  .portafolio-container--card {
    height: 25rem;
    width: 25rem;
  }
  .Focusing-picture {
    scale: 1.8;
    margin: 6%;
    animation-duration: 0.5s;
    animation-name: Focus;
  }
  
  
  .Unfocusing-picture {
    scale: 1;
    margin: 1.2%;
    animation-duration: 0.5s;
    animation-name: Unfocus;
  }
  
  @keyframes Unfocus {
    from {
      scale: 1.8;
      margin: 6%;
    }
  
    to {
      scale: 1;
      margin: 1.2%;
    }
  }

  
}





.portafolio-container--slider :nth-child(1) {
  background-image: url(../imagenes/boceto1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(2) {
  background-image: url(../imagenes/boceto2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(3) {
  background-image: url(../imagenes/boceto3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(4) {
  background-image: url(../imagenes/boceto4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(5) {
  background-image: url(../imagenes/boceto5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(6) {
  background-image: url(../imagenes/boceto6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(7) {
  background-image: url(../imagenes/boceto7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(8) {
  background-image: url(../imagenes/boceto8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portafolio-container--slider :nth-child(9) {
  background-image: url(../imagenes/boceto9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
